/* --------------- --------------- --------------- --------------- --------------- */

/* Fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* --------------- --------------- --------------- --------------- --------------- */

strong {
    color: #324e37;
}

/* Início */
.imagem-culturas {
    width: 700px;
    height: 500px;
    margin-top: 5vh;
}

.imagem-culturas img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

p {
    text-align: left;
}

.conteudo-criacao-de-culturas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.caixa-controle-criacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: var(--cor-de-fundo-secundaria);
    margin: 25px !important;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.formulario-criacao-de-culturas input {
    width: 90% !important;
    font-size: 14px;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    border-left: 4px solid #2d4238;
    margin-bottom: 15px;
    color: var(--cor-de-fundo-primaria);
    background: #A3B18A;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.input {
    width: 90%;
    font-size: 14px;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    border-left: 4px solid #2d4238;
    margin-bottom: 15px;
    color: var(--cor-de-fundo-primaria);
    background: #A3B18A;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.formulario-criacao {
    color: black;
    border-bottom: 1px solid #adaba3;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* Imagens */
.caixa-imagem {
    width: 100px;
    height: 100px;
    margin: 5vh auto;
}

.caixa-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #DAD7CD;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* Botão cebolinha */

.progresso-7 {
    padding-left: 37px;
    margin: 24px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-cebolinha {
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.botao-cebolinha:hover {
    cursor: pointer;
}

.botao-cebolinha > .inner-circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.botao-cebolinha.active {
    background: #A3B18A;
    transition-delay:0.5s;
}

.botao-cebolinha.active > .inner-circle {
    margin-left: 25px;
}

/* --------------- --------------- --------------- */

/* Botão manjericão */

.progresso-8 {
    padding-left: 25px;
    margin: 24px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-manjericao {
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.botao-manjericao:hover {
    cursor: pointer;
}

.botao-manjericao > .inner-circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.botao-manjericao.active {
    background: #A3B18A;
    transition-delay:0.5s;
}

.botao-manjericao.active > .inner-circle {
    margin-left: 25px;
}

/* --------------- --------------- --------------- */

/* Botão alface */

.progresso-9 {
    padding-left: 25px;
    margin: 24px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-alface {
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.botao-alface:hover {
    cursor: pointer;
}

.botao-alface > .inner-circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.botao-alface.active {
    background: #A3B18A;
    transition-delay:0.5s;
}

.botao-alface.active > .inner-circle {
    margin-left: 25px;
}

/* --------------- --------------- --------------- */

/* Botão coentro */

.progresso-10 {
    margin: 24px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
}

.botao-coentro {
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.botao-coentro:hover {
    cursor: pointer;
}

.botao-coentro > .inner-circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.botao-coentro.active {
    background: #A3B18A;
    transition-delay:0.5s;
}

.botao-coentro.active > .inner-circle {
    margin-left: 25px;
}

/* --------------- --------------- --------------- */

/* Botão cultura alternativa */

.progresso-11 {
    padding-left: 75px;
    margin: 24px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-alternativa {
    margin-top: 20px;
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.botao-alternativa:hover {
    cursor: pointer;
}

.botao-alternativa > .inner-circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.botao-alternativa.active {
    background: #A3B18A;
    transition-delay:0.5s;
}

.botao-alternativa.active > .inner-circle {
    margin-left: 25px;
}

.teste-4 .hora {
    width: 23.5% !important;
}

.teste-4 .minuto {
    width: 21.5% !important;
    margin-left: -15px;
    border-left: 1px solid #2d4238;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.teste-4 .hora-2 {
    margin-left: 15px;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* Responsividade */
@media (max-width: 1250px) {
    .imagem-culturas {
        display: none;
    }

    .conteudo-criacao-de-culturas {
        padding: 25px;
        flex-direction: column;
    }

    .formulario-criacao-de-culturas input {
        width: 95%;
    }
}

/* --------------- --------------- --------------- --------------- --------------- */

/* SLIDER 1*/

h4 {
    margin-top: 10px;
}

.slider {
    width: 250px;
    height: 160px;
    overflow: hidden;
    text-align: center !important;
}

.slides {
    width: 400%;
    height: 110px;
    display: flex;
    text-align: center;
}

.slides input[type=radio] {
    display: none;
}

.slide {
    width: 25%;
    transition: 1s;
}

.slide p {
    width: 270px;
    height: 110px;
}

.navigation-manual {
    position: absolute;
    width: 270px;
    margin-top: 15px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #92b999;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 15px;
}

.manual-btn:hover {
    background-color: #92b999;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.slide p {
    text-align: center;
    margin-left: -10px;
}

.texto-criacao {
    margin: 25px;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 250px;
    justify-content: center;
    margin-top: 125px;
}

.navigation-auto div {
    border: 2px solid #324e37;
    padding: 4px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 15px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
    background-color: #92b999;
    transition: 1s;
}

#radio2:checked ~.navigation-auto .auto-btn2 {
    background-color: #92b999;
    transition: 1s;
}

#radio3:checked ~.navigation-auto .auto-btn3 {
    background-color: #92b999;
    transition: 1s;
}

#radio4:checked ~.navigation-auto .auto-btn4 {
    background-color: #92b999;
    transition: 1s;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* SLIDER 2 */

#radio5:checked ~ .first {
    margin-left: 0;
}

#radio6:checked ~ .first {
    margin-left: -25%;
}

#radio7:checked ~ .first {
    margin-left: -50%;
}

#radio8:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~.navigation-auto .auto-btn5 {
    background-color: #92b999;
    transition: 1s;
}

#radio6:checked ~.navigation-auto .auto-btn6 {
    background-color: #92b999;
    transition: 1s;
}

#radio7:checked ~.navigation-auto .auto-btn7 {
    background-color: #92b999;
    transition: 1s;
}

#radio8:checked ~.navigation-auto .auto-btn8 {
    background-color: #92b999;
    transition: 1s;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* SLIDER 3 */

#radio9:checked ~ .first {
    margin-left: 0;
}

#radio10:checked ~ .first {
    margin-left: -25%;
}

#radio11:checked ~ .first {
    margin-left: -50%;
}

#radio12:checked ~ .first {
    margin-left: -75%;
}

#radio9:checked ~.navigation-auto .auto-btn9 {
    background-color: #92b999;
    transition: 1s;
}

#radio10:checked ~.navigation-auto .auto-btn10 {
    background-color: #92b999;
    transition: 1s;
}

#radio11:checked ~.navigation-auto .auto-btn11 {
    background-color: #92b999;
    transition: 1s;
}

#radio12:checked ~.navigation-auto .auto-btn12 {
    background-color: #92b999;
    transition: 1s;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* SLIDER 4 */

#radio13:checked ~ .first {
    margin-left: 0;
}

#radio14:checked ~ .first {
    margin-left: -25%;
}

#radio15:checked ~ .first {
    margin-left: -50%;
}

#radio16:checked ~ .first {
    margin-left: -75%;
}

#radio13:checked ~.navigation-auto .auto-btn13 {
    background-color: #92b999;
    transition: 1s;
}

#radio14:checked ~.navigation-auto .auto-btn14 {
    background-color: #92b999;
    transition: 1s;
}

#radio15:checked ~.navigation-auto .auto-btn15 {
    background-color: #92b999;
    transition: 1s;
}

#radio16:checked ~.navigation-auto .auto-btn16 {
    background-color: #92b999;
    transition: 1s;
}

/* --------------- --------------- --------------- --------------- --------------- */

/* SLIDER 5 */

#radio17:checked ~ .first {
    margin-left: 0;
}

#radio18:checked ~ .first {
    margin-left: -25%;
}

#radio19:checked ~ .first {
    margin-left: -50%;
}

#radio20:checked ~ .first {
    margin-left: -75%;
}

#radio17:checked ~.navigation-auto .auto-btn17 {
    background-color: #92b999;
    transition: 1s;
}

#radio18:checked ~.navigation-auto .auto-btn18 {
    background-color: #92b999;
    transition: 1s;
}

#radio19:checked ~.navigation-auto .auto-btn19 {
    background-color: #92b999;
    transition: 1s;
}

#radio20:checked ~.navigation-auto .auto-btn20 {
    background-color: #92b999;
    transition: 1s;
}

/* --------------- --------------- --------------- --------------- --------------- */

.slider-2 {
    width: 370px;
    height: 700px;
    overflow: hidden;
    text-align: center !important;
    color: #324e37;
}

.slider-2 h4 {
    margin-bottom: 20px;
}

.slides {
    width: 400%;
    height: 110px;
    display: flex;
}

.slide-2 {
    width: 25%;
    transition: 1s;
}

.slide-2 p {
    width: 95%;
    text-align: justify;
    margin: 10% auto;
}

.navigation-manual-2 {
    position: absolute;
    width: 270px;
    margin-top: 460px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #92b999;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 15px;
}

.manual-btn:hover {
    background-color: #92b999;
}

#radio21:checked ~ .first {
    margin-left: 0;
}

#radio22:checked ~ .first {
    margin-left: -25%;
}

#radio23:checked ~ .first {
    margin-left: -50%;
}

#radio24:checked ~ .first {
    margin-left: -75%;
}

.slide p {
    text-align: center;
}

.navigation-auto-2 {
    position: absolute;
    display: flex;
    width: 250px;
    justify-content: center;
    margin-top: 570px;
    margin-left: 60px;
}

.navigation-auto-2 div {
    border: 2px solid #92b999;
    padding: 4px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto-2 div:not(:last-child) {
    margin-right: 15px;
}

#radio21:checked ~.navigation-auto-2 .auto-btn21 {
    background-color: #92b999;
    transition: 1s;
}

#radio22:checked ~.navigation-auto-2 .auto-btn22 {
    background-color: #92b999;
    transition: 1s;
}

#radio23:checked ~.navigation-auto-2 .auto-btn23 {
    background-color: #92b999;
    transition: 1s;
}

#radio24:checked ~.navigation-auto-2 .auto-btn24 {
    background-color: #92b999;
    transition: 1s;
}

.warnings {
    width: 90%;
    font-size: 12px;
    color: #8b8203;
    text-align: justify;
    background-color: #dfdcb4;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 25px;
}

.fa-warning {
    color: #8b8203;
}

.alright {
    width: 90%;
    font-size: 12px;
    color: #2a8b03;
    text-align: justify;
    background-color: rgb(181, 223, 180);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 25px;
}

.fa-check {
    color: #2a8b03;
}